<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Pacifico" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.css" rel="stylsheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body id="bodyMain" style="background-color: rgb(255,228,222)">
<div id="top-container" style="background: #6f6d74"  class="btn-group btn-group-justified" role="group">
    <div class="dropdown">
        <a class="dropdown-toggle top-icon" type="button" data-toggle="dropdown"><img id="top-icon" src="img/user.svg"></a>
        <ul class="dropdown-menu top-icon">
            <li><a href="">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <form method="GET" action="/getShoppingList">
        <img style="padding-top: 1.5%" id="top-icon" src="img/cart.svg">
    </form>
</div>
<div id="tabBtnContainer" class="btn-group btn-group-justified" role="group">
   <a style="background: #6f6d74" href="" class="btn btn-default" role="button"><img id="icon" src="img/recipe.svg"><br> <p id="tabLabel">Recipes</p></a>
    <a style="background: #6f6d74" href="" class="btn btn-default" role="button"><img id="icon" src="img/shop.svg"><br> <p id="tabLabel">Aisle Finder</p></a>
    <a style="background: #6f6d74" href="" class="btn btn-default" role="button"><img id="icon" src="img/scan.svg"><br> <p id="tabLabel">Scan</p></a>
</div>
    {{{body}}}

  

</body>
