<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Pacifico" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.css" rel="stylsheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body id="bodyMain" style="background-color: rgb(255,228,222)">
    <div id="appbar">
        <div id="top-container">
            <img id="top-icon" src="img/user.svg">
            <form method="GET" action="/getShoppingList">
<!--                <img id="top-icon" src="img/cart.svg">-->
                <input id="top-icon" type="submit" value="View Shopping Cart">
            </form>
        </div>
        <div id="tabBtnContainer">
            <div id="tabBtn" style="float:left">
                <a href="/">
                  <img id="icon" src="img/recipe.svg" >
                </a>
                
                <label id="tab-label">Recipes</label>
            </div>
            <div id="tabBtn" style="float:left">
                <img id="icon" src="img/shop.svg">
                <label id="tab-label">Aisle Finder</label>
            </div>
            <div id="tabBtn" style="float:left">
                <img id="icon" src="img/scan.svg">
                <label id="tab-label">Scan</label>
            </div>
        </div>
    </div>
    {{{body}}}

  

</body>

</html>