<form id="logForm" action="/login" method="post" >
    <h2 id="text">Login</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="input" class="form-control text" name="username" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="input" class="form-control text" name="password" placeholder="Password" required>
    <button id="signinBtn" class="btn btn-lg  btn-block" type="submit" value="Submit">Sign in</button>
    <a id="text" href="/register"><p style="padding-bottom: 5%">Don't have an account? Sign up now!</p></a>
</form>