<html>
    <head>
        <title>{{title}}</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Pacifico" rel="stylesheet">
    </head>
    <body>
        <img id="logo" src="/img/Logo.svg">
        {{{body}}}
    </body>
</html>