
<div>
        <h1 class="pageTitle">Search for Recipes</h1>
        <form style="margin:2% auto; width:75%" method="get" action="/searchRecipe">
            <div class="input-group text">
                <input type="text" class="form-control" placeholder="Search for items" name="query" required>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" value="Search Recipe">Search</button>
                </span>
            </div>
        </form>
        <ul class="recipe_list">
		  {{#each recipe}}
<!--		Code adjusted from http://bootsnipp.com/search?q=card&page=2 -->
            <div class="container card">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card-style">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object img-thumbnail card-img" id="recipePic" src="{{this.image_url}}">
                            </div>

                            <div class="media-body">
                                <h5 id="recipeTitle" onclick="getRecipe('{{this.f2f_url}}')" class="media-heading text">{{this.title}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		  {{/each}}
		</ul>
</div>
