<div style="top:30%; position:fixed; width:100%">
          <h1 style="text-align: center; margin-bottom: 2%;">My Grocery List</h1>
        <div style="position:relative; left: 10%; margin-bottom: 1%">
          <form method="POST" action="/addItem">
                <input required name="ItemName" type="text" placeholder="Item Name">
                <input required name="Quantity" placeholder="Quantity" type="number">
                <input type="submit" value="Add to list">
          </form>
        </div>
        <div style="position:relative; left: 10%;">
             <table class="table">
                  <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
          <ul>
            {{#each shoppingList}}
<!--
              <table class="table">
                  <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
-->
              <tr>
                    <td>{{this.ItemName}}</td>
                      <td>{{this.Quantity}}</td>
              </tr>
<!--
               <li>{{this.ItemName }}

                <form method="POST" action="/deleteItem/{{this.ItemName }}">
                    <input type="submit" value="Delete">
                </form>
               </li>
-->
            {{/each}}
          </ul>
                      </tbody>
              </table>
        </div>
    </div>