html {
    height: 100%;
}

html, body {
	background-size: cover;
	background: radial-gradient(rgba(255,228,222,1) 0%, rgba(255,228,222,1) 50%);
/*    background-color: #6f6d74;*/
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(255,228,222);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#logo {
/*    display: block;*/
    position: fixed;
    margin: auto;
    top: 25%;
  	left: 50%;
    transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    z-index: 1;
    font-family: 'Pacifico', cursive;
/*    margin-bottom: 50%;*/
}

#ComingSoon {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	height: 70px;
  	width: 300px;
  	background: radial-gradient(rgba(0, 100, 0, 0.5) 50%, rgba(76,146,76, 0.7) 100%);
  	font-size: 30px;
  	text-align: center;
  	border-radius: 10px;
  	border: none;
  	color: white;
  /* bring your own prefixes */
  	transform: translate(-50%, -50%);
}

#ComingSoon:hover {
	width: 400px;
	font-size: 40px;
	height: 90px;
}

#appbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
    background-color: #6f6d74;
    z-index: 1;
    display: table;
    box-shadow: 4px 4px 4px 4px #f9caca;
}

#icon {
    z-index: 2;
    display: block;
    margin:auto;
/*    color:aliceblue;*/
}

#tabLabel {
    margin: auto;
    font-size: 16px;
    color: #e7e4e6;
    margin-top: -5%;
    font-family: 'Noto Serif', serif;
}

#tabBtn {
    background: #6f6d74;
}
#tabBtnContainer {
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
    height: 15%;
/*    background: black;*/
}

#top-icon {
    margin: 1%;
    float: right;
}

#top-container {
/*
    position: absolute;
    width: 100%;
*/
    height:8%;
}

#logForm {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	background-color: #6f6d74;
  /* bring your own prefixes */
  	transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	border-radius: 10px;
	width: 300px;
    box-shadow: 4px 4px 4px 4px #f9caca;
    margin-top: 5%;
    display: block;
    z-index: 2;
}

#text {
    font-family: 'Noto Serif', serif;
    color: #e7e4e6;
    margin-bottom: 5%;
}

#input {
    width: 75%;
    margin: auto;
/*    padding: 2%;*/
    margin-bottom: 5%;
}

#signinBtn {
    width: 75%;
    margin: auto;
    margin-bottom: 8%;
    font-family: 'Noto Serif', serif;
    color: black;
}

.recipe_list {
    max-height: 425px;
    max-width: 90%;
    overflow: auto;
}

.pageTitle {
   text-align: center;
    font-family: 'Noto Serif', serif;
    color: #262527;
    
}
#recipePic {
    max-width: 100px;
    max-height: 100px;
}

.card {
    background: white;
    padding: 5%;
    border: 1px solid #262527;
    border-radius: 5px;
}

.text {
    font-family: 'Noto Serif', serif;
}
