html {
    height: 100%;
}

html, body {
	background-size: cover;
	background: radial-gradient(rgba(255,228,222,1) 0%, rgba(255,228,222,1) 50%);
/*    background-color: #6f6d74;*/
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(255,228,222);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#logo {
    z-index: 1;
    font-family: 'Pacifico', cursive;
    margin-bottom: -10px;
    margin-left: 23px;
}

.logo-container {
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
}

#appbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
    background-color: #6f6d74;
    z-index: 1;
    display: table;
    box-shadow: 4px 4px 4px 4px #f9caca;
}

#icon {
    z-index: 2;
    display: block;
    margin:auto;
/*    color:aliceblue;*/
}

#tabLabel {
    margin: auto;
    font-size: 16px;
    color: #e7e4e6;
    margin-top: -5%;
    font-family: 'Noto Serif', serif;
}

#tabBtn {
    background: #6f6d74;
}
#tabBtnContainer {
    height: 8%;
}

#top-icon {
    margin: 1%;
    float: right;
}

#top-container {
    min-height:5%;
    margin: 0 auto;
    position: relative;
}


#logForm {
  	background-color: #6f6d74;
	text-align: center;
	border-radius: 10px;
	width: 300px;
    box-shadow: 4px 4px 4px 4px #f9caca;
    display: block;
    z-index: 2;
    margin: 2%;
}

#text {
    font-family: 'Noto Serif', serif;
    color: #e7e4e6;
    padding-top: 5%;
    margin-bottom: 5%;
}

#input {
    width: 75%;
    margin: auto;
/*    padding: 2%;*/
    margin-bottom: 5%;
}

#signinBtn {
    width: 75%;
    margin: auto;
    margin-bottom: 8%;
    font-family: 'Noto Serif', serif;
    color: black;
}

.recipe_list {
    max-height: 425px;
    max-width: 90%;
    overflow: auto;
}

.pageTitle {
   text-align: center;
    font-family: 'Noto Serif', serif;
    color: #262527;
    
}
#recipePic {
    max-width: 100px;
    max-height: 100px;
}

.card {
    background: #fff3f3;
    padding: 5%;
    border: 1px solid #262527;
    border-radius: 5px;
}

.text {
    font-family: 'Noto Serif', serif;
}

.form-margin {
    margin: 5px;
}

.td {
    text-align: center; 
    vertical-align: middle;
}

.trash {
    display: flex;
}
